* {
    box-sizing: border-box;
}

#page-4 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: none;
}

#header-container {
    height: 50vh;
    width: 100vw;
    position: relative;
    
}
#p4-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#p4-header-text {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 90%;
    transform: translateX(-50%); 
    color: white; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    line-height: 1;
}

#p4-header-text2 {
    position: absolute;
    color: white;
    top: 38%;
    left: 5%;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    line-height: 1;
    font-weight: 300;
}
#p4-dyk-section {
  
    /* background-color: hsl(209, 90%, 10%);
    */
    background-image: url('images/mindGymLabp4Background.webp');
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#p4-dyk-text {
    color: #72A0C1;
    font-size: 2rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    padding: 10px;
    
}

.p4-dyk-paragraph-container {
    height: auto;
    width: auto;
   padding: 10px;
    text-align: left;
    margin-top: -30px;
    
}
.p4-dyk-paragraph-text {
    color: white;
    text-shadow: 2px 2px 8px black;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    font-size: 1.2rem;
}
#p4-section2 {
    background-color: black;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}
#p4-high-performance-text {
    color: white;
    font-size: 1.8rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#p4-section2-img-container {
    height: 50vh;
    width: 80vw;
    margin: 0 auto;
}
#p4-section2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#p4-section2-paragraph-container {
    margin: 0 auto;
    width: 80%;
    text-align: left;
    padding: 0;
}
#p4-section2-paragraph-text {
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}
#p4-sport-section {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: hsl(209, 90%, 10%);
 
}
.p4-sport-img-container {
    height: 40%;
    width: 100%;
   
    margin-top: 30px;
}
.p4-sport-img {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
.p4-sport-label-text {
   
    padding: 15px;
    color: #F4C542;
    font-size: 1.4rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    
}
.p4-sport-paragraph-container {
    padding: 0 15px;
    margin: -20px 0 10px 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    color: white;
   
}
.p4-video-btn-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    border: none;
    
}
.p4-video-btn {
    height: 50px;
    width: 120px;
    background-color: #72A0C1;
    color: white;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    font-size: 1rem;
    border: none;
}
.p4-video-btn:hover {
    cursor: pointer;
    background-color: hsl(204, 40%, 40%);
}
#p4-last-btn-container {
    margin-bottom: 50px;
  
}
@media (max-width: 370px) {

#p4-header-text {
    font-size: 1.7rem;
    position: absolute;
    left: 50%;
    top: 10%;
    width: 90%;
    transform: translateX(-50%); 
    color: white; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    line-height: 1;
}

#p4-header-text2 {
    font-size: 1.3rem;
    position: absolute;
    color: white;
    top: 38%;
    left: 5%;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    line-height: 1;
    font-weight: 300;
}
} 

@media (min-width: 700px) and (max-width: 1024px) {

    #header-container {
        height: 40vh;
        width: 100vw;
        position: relative;
        
    }
    #p4-dyk-text {
        padding-left: 40px;
    }
    .p4-dyk-paragraph-container {
        
        margin: 30px;
        margin-top: -50px;
        font-weight: 300;
    }
    #p4-section-2-big-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
        gap: 20px;
       
        
    }
    #p4-section2-img-container{
        margin-top: 30px;
    }
    #p4-high-performance-text {
        font-weight: 300;
    }
    #p4-section2-paragraph-text {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .p4-sport-img-container {
        width: 80vw;
        margin: 0 auto;
        margin-top: 40px;
    }
    .p4-sport-img {
        padding: 0;
    }
    .p4-sport-label-text {
        font-size: 1.7rem;
        padding: 10px 0;
        
        font-weight: 300;
       
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }
    .p4-sport-paragraph-container {
        width: 80vw;
        margin: 0 auto;
        text-align: left;
        font-size: 1.3rem;
        padding: 0;
       
        margin-top: -20px
    }
    .p4-sport-paragraph-text {
        font-weight: 300;
    }
    .p4-video-btn {
        margin-bottom: 50px;
    }

}




@media (min-width: 1025px) {
    #header-container {
        height: 40vh;
    }
    #p4-header-text {
        font-size: 2.5rem;
        font-weight: 400;
    }
    #p4-header-text2 {
        font-size: 1.8rem;
        font-weight: 300;
        left: 7%
    }

    #p4-dyk-text {
        width: 75%;
        padding: 0;
        margin: 0 auto;
        font-weight: 300;
    }
    .p4-dyk-paragraph-container {
        
        width: 75%;
        margin: 0 auto;
        font-weight: 300;
       
        padding: 0;
    }
    .p4-dyk-paragraph-text {
        font-size: 1.4rem;
        font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    }
    #p4-section-2-big-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
        gap: 20px;
        width: 75%;
        margin: 0 auto;
       
        
    }
    #p4-section2-img-container{
        margin-top: 30px;
    }
    #p4-high-performance-text {
        font-weight: 300;
    }
    #p4-section2-paragraph-text {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .p4-sport-img-container {
        width: 70%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .p4-sport-img {
        padding: 0;
    }
    .p4-sport-label-text {
        font-size: 1.9rem;
        padding: 10px 0;
        font-weight: 300;
        width: 70%;
        margin: 0 auto;
        text-align: left;
    }
    .p4-sport-paragraph-container {
        width: 70%;
        margin: 0 auto;
        text-align: left;
        font-size: 1.3rem;
        padding: 0;
        
        margin-top: -20px
    }
    .p4-sport-paragraph-text {
        font-weight: 300;
        font-size: 1.4rem;
    }
    .p4-video-btn {
        margin-bottom: 50px;
    }
}